<section class="archive slideDownMin">

    <span class="page-title"><%=  __('Page.Archives') %></span>  
   
    <% var  date_format = config.date_format  %>

    <% var last %> 

    <% page.posts.each(function (post) { %>
      <% var year = post.date.year() %>

        <%if(last != year ){%>   
          
      		<h3 class="archive-year"><%= year %></h3>          

      	  <% last = year %>	  

		    <%}%>


        <div class="archive-item">
          <span class="archive-time"> <%= date(post.date, date_format || "YYYY-MM-DD") %> </span>

          <span class="archive-title">
          <a href="<%- url_for(post.path) %>"><%= post.title || __('Untitled')%></a>
          </span>

        </div>

    <% }) %>
</section>

<%- partial('_partial/paginator') %>