<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
  <%- partial('_partial/head') %>  
  <body>   
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>   

    <div class="container">       
      
        <% if (is_post() || is_home()) { %>

          <section id="main">  

        <% } else{ %>

          <section id="main" class="slideDownMin" >

        <% }%>

        <%-body%>
        </section> 

    </div>        

    
    
    <div id="backTop" class="iconfont icon-backtotop sildeUpMin"></div> 


    <%- partial('_partial/search-container') %>
    <%- partial('_partial/slide-menu') %>     


    <%- partial('_partial/footer') %>    
    <%- partial('_partial/after-footer') %> 
    
    
    <%- js('main.bundle')%>        
  </body>        
</html>